Source: ros-groovy-rosbridge-library
Section: misc
Priority: extra
Maintainer: Brandon Alexander <baalexander@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python-imaging, ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-message-generation, ros-groovy-rospy, ros-groovy-rosservice, ros-groovy-rostopic
Homepage: https://github.com/RobotWebTools/rosbridge_suite
Standards-Version: 3.9.2

Package: ros-groovy-rosbridge-library
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-imaging, ros-groovy-actionlib-msgs, ros-groovy-geometry-msgs, ros-groovy-message-runtime, ros-groovy-nav-msgs, ros-groovy-rospy, ros-groovy-rospy-tutorials, ros-groovy-rosservice, ros-groovy-rostopic, ros-groovy-sensor-msgs, ros-groovy-std-srvs, ros-groovy-stereo-msgs
Description: The core rosbridge package, repsonsible for interpreting JSON andperforming the appropriate ROS action, like subscribe, publish, call service, and interact with params.
